<header>
  <div class="container">
    <div id="branding">
      <img src="http://www.lacounty.gov/assets_/images/lacountyheader_logo.png" alt="soon to be replaced" height="50px">
    </div>
    <nav>
      <ul id="menu">
        <li>
          <a href="/residents/">Residents</a>
          <ul class="dropdown">
            <li>
              <a href="#">
                <i class="fa fa-heartbeat" aria-hidden="true"></i> Health</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-retweet" aria-hidden="true"></i>Transportation</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-leaf" aria-hidden="true"></i>Environment</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-shield" aria-hidden="true"></i>Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/government/">Government</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/business/">Business</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/explore/">Explore</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/emergency/">Emergency</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>