<header>
  <div class="container">
    <div id="branding">
      <img src="http://www.lacounty.gov/assets_/images/lacountyheader_logo.png" alt="soon to be replaced" height="50px">
    </div>
    <nav>
      <ul id="menu">
        <li class="current">
          <a href="index.html">Residents</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="about.html">Government</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="services.html">Business</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="services.html">Explore</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="services.html">Emergency</a>
          <ul class="dropdown">
            <li>
              <a href="#">Health</a>
            </li>
            <li>
              <a href="#">Transportation</a>
            </li>
            <li>
              <a href="#">Housing &amp; Development</a>
            </li>
            <li>
              <a href="#">Environment</a>
            </li>
            <li>
              <a href="#"> Public Safety</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>