<section>
  <div class="container">
    <h2>Residents</h2>
    <div id="brief">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ratione eaque laborum sint nesciunt odit ullam vitae, earum
      aspernatur est soluta commodi veniam sapiente quis vero, corporis sed repellat aliquam placeat quam exercitationem
      ipsa fugit iste tenetur. Esse, corporis veritatis odio quas fuga dolorum repudiandae, labore nam eveniet iusto minima.</div>
    <div onclick="location.href='/residents/health';" style="cursor:pointer;" id="show-box">
      <div class="show-boxes">
        <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
        <h4>Health</h4>
      </div>
      <div class="show-boxes">
        <i class="fa fa-retweet fa-3x" aria-hidden="true"></i>
        <h4>Transportation</h4>
      </div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
      <div class="show-boxes"></div>
    </div>
  </div>
</section>